<h4>Sistema de estudiantes asociados al Instituto de Geología</h4>
<p class="flow-text">Ingresa con el correo electrónico y contraseña que registraste</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Ingresar" %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
