<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de estudiantes asociados del <%= institution_name %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav class="indigo darken-4 lighten-1" role="navigation">
      <div class="nav-wrapper container"><%= link_to_institution_site %>
        <% if current_user %>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Salir</a></li>
        </ul>
        <% end %>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
